---
layout: page
title: Research
---

<div class="col-xs-12 blog-posts">
  <section class="archives-wrap">
    <div class="archives">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img
            src="https://i.loli.net/2020/11/16/QOkzErKUAWsVg78.jpg"
            class="img-responsive"
          />
          <div style="padding: 0px">
            <h2 itemprop="name">
              <a
                class="archive-article-title"
                href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                >News3_unproposed</a
              >
            </h2>

            <ul class="blog-info">
              <li>
                <i class="fa fa-calendar"></i>
                <time
                  datetime="2020-10-28T02:30:09.033Z"
                  itemprop="datePublished"
                  >2020/10/28</time
                >
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a
                  href="http://example.com/2020/10/28/2015-04-08-NAV-Programming-Resources/#disqus_thread"
                  class="article-comment-link"
                  >Comments</a
                >
              </li>
              <li>
                <i class="fa fa-tags"></i>

                <a href="/tags/XXXX/" title="XXXX">XXXX</a>
              </li>
            </ul>
            <div class="blog-item">
              This is an example for continuous updating.This is an example for
              continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.This is an
              example for continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
      <hr class="blog-post-sep" />
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img
            src="https://i.loli.net/2020/11/16/QOkzErKUAWsVg78.jpg"
            class="img-responsive"
          />
          <div style="padding: 0px">
            <h2 itemprop="name">
              <a
                class="archive-article-title"
                href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                >News3_unproposed</a
              >
            </h2>

            <ul class="blog-info">
              <li>
                <i class="fa fa-calendar"></i>
                <time
                  datetime="2020-10-28T02:30:09.033Z"
                  itemprop="datePublished"
                  >2020/10/28</time
                >
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a
                  href="http://example.com/2020/10/28/2015-04-08-NAV-Programming-Resources/#disqus_thread"
                  class="article-comment-link"
                  >Comments</a
                >
              </li>
              <li>
                <i class="fa fa-tags"></i>

                <a href="/tags/XXXX/" title="XXXX">XXXX</a>
              </li>
            </ul>
            <div class="blog-item">
              This is an example for continuous updating.This is an example for
              continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.This is an
              example for continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
      <hr class="blog-post-sep" />
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img
            src="https://i.loli.net/2020/11/16/QOkzErKUAWsVg78.jpg"
            class="img-responsive"
          />
          <div style="padding: 0px">
            <h2 itemprop="name">
              <a
                class="archive-article-title"
                href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                >News3_unproposed</a
              >
            </h2>

            <ul class="blog-info">
              <li>
                <i class="fa fa-calendar"></i>
                <time
                  datetime="2020-10-28T02:30:09.033Z"
                  itemprop="datePublished"
                  >2020/10/28</time
                >
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a
                  href="http://example.com/2020/10/28/2015-04-08-NAV-Programming-Resources/#disqus_thread"
                  class="article-comment-link"
                  >Comments</a
                >
              </li>
              <li>
                <i class="fa fa-tags"></i>

                <a href="/tags/XXXX/" title="XXXX">XXXX</a>
              </li>
            </ul>
            <div class="blog-item">
              This is an example for continuous updating.This is an example for
              continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.This is an
              example for continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
      <hr class="blog-post-sep" />
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img
            src="https://i.loli.net/2020/11/16/QOkzErKUAWsVg78.jpg"
            class="img-responsive"
          />
          <div style="padding: 0px">
            <h2 itemprop="name">
              <a
                class="archive-article-title"
                href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                >News3_unproposed</a
              >
            </h2>

            <ul class="blog-info">
              <li>
                <i class="fa fa-calendar"></i>
                <time
                  datetime="2020-10-28T02:30:09.033Z"
                  itemprop="datePublished"
                  >2020/10/28</time
                >
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a
                  href="http://example.com/2020/10/28/2015-04-08-NAV-Programming-Resources/#disqus_thread"
                  class="article-comment-link"
                  >Comments</a
                >
              </li>
              <li>
                <i class="fa fa-tags"></i>

                <a href="/tags/XXXX/" title="XXXX">XXXX</a>
              </li>
            </ul>
            <div class="blog-item">
              This is an example for continuous updating.This is an example for
              continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.This is an
              example for continuous updating.This is an example for continuous
              updating.This is an example for continuous updating.
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div id="page-nav" class="pagination">
  <span class="page-number current">1</span>
    </div>
   -->
  </section>
</div>
