---
layout: page
title: 研究工作
---

<div class="col-xs-12 blog-posts">
  <section class="archives-wrap">
    <div class="archives">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <center><img
            src="http://img.luckycloudlab.cn/img/research/research1/research_1.jpg"
          /></center>

          <div class="col-md-1">
            <p></p>
          </div>
          
          <div class="blog-item">
            <div class="col-md-10">

              <div style="padding: 0px">
                <h2 itemprop="name">
                  <a
                    class="archive-article-title"
                    href="/2010/01/01/2010-01-01-医学人工智能与信号处理/"
                  >
                    医学人工智能与信号处理
                  </a>
                </h2>
              </div>

              <p></p>
              课题组致力于人工智能和信号处理技术在生物医学信号中的应用。近年来，专注于心电、呼吸等信号的分析处理。
            </div>
          </div>
        </div>
      </div>
      
      <hr class="blog-post-sep" />

      <div class="row">
        <p></p>
        <div class="col-md-12 col-sm-12">
          <center><img
            src="http://img.luckycloudlab.cn/img/research/research2/research_2.jpg"
            class="img-responsive"
          /></center>

            <div class="col-md-1">
              <p></p>
            </div>
            
            <div class="blog-item">
              <div class="col-md-10">

                <div style="padding: 0px">
                  <h2 itemprop="name">
                    <a class="archive-article-title" href="/2010/01/02/2010-01-02-低成本微创血肿清除手术导航系统/">低成本微创血肿清除手术导航系统
                    </a>
                  </h2>
                </div>

                <p></p>
                颅内出血会导致颅内压力升高，影响血液循环，最终导致脑组织永久性损伤，
                具有极高的致死致残率。在颅内出血发生早期进行血肿清除以及血管修复对于良好预后具有重要的意义。
                但现有血 肿清除手术具有创伤大、成本高等缺点，且仅有有经验的医生能够高质量地完成。
                现有手术导航 系统虽能辅助外科医生精准进行手术，但价格昂贵，基层医院无力购买。
                因此，课题组开发了低成本微创血肿清除手术的导航系统GyroGuide。
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="blog-post-sep" />

      

      
      <!--<div class="row">
        <div class="col-md-12 col-sm-12">
          <img
            src="../img/0/0.jpg"
            class="img-responsive"
          />
          <div style="padding: 0px">
            <h2 itemprop="name">
              <a
                class="archive-article-title"
                href=""
                >Physiological system modeling</a
              >
            </h2>

            <div class="blog-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
              incidunt rerum aliquid ipsum temporibus numquam dolore similique
              id modi, explicabo aperiam deleniti inventore velit soluta
              perspiciatis laudantium vel quisquam laboriosam. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. Dicta possimus odio
              aspernatur quae. Eius obcaecati quibusdam voluptatibus iusto?
              Autem aperiam numquam laboriosam quidem suscipit deleniti animi
              incidunt adipisci itaque. Necessitatibus! Lorem ipsum dolor, sit
              amet consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>
      <hr class="blog-post-sep" />
    </div>-->
    <!-- 
    <div id="page-nav" class="pagination">
  <span class="page-number current">1</span>
    </div>
   -->
  </section>
</div>
