---
layout: page
title: 学术成果
---

<div class="col-xs-12 blog-posts">
  <div class="col-md-9 col-sm-9">
    <section class="archives-wrap">
      <div class="archives">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-md-4 col-sm-4">
              <h2 itemprop="name">
                <a
                  class="archive-article-title"
                  href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                  >Publication1</a
                >
              </h2>
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="blog-item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                incidunt rerum aliquid ipsum temporibus numquam dolore similique
                id modi, explicabo aperiam deleniti inventore velit soluta
                perspiciatis laudantium vel quisquam laboriosam. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Dicta possimus
                odio aspernatur quae. Eius obcaecati quibusdam voluptatibus
                iusto? Autem aperiam numquam laboriosam quidem suscipit deleniti
                animi incidunt adipisci itaque. Necessitatibus! Lorem ipsum
                dolor, sit amet consectetur adipisicing elit.
                <p></p>
                link:
                <a href="https://lorem-example.link.com"
                  >https://lorem-example.link.com</a
                >
              </div>
            </div>
          </div>
        </div>
        <hr class="blog-post-sep" />
        <div class="row">
          <div class="col-xs-12">
            <div class="col-md-4 col-sm-4">
              <h2 itemprop="name">
                <a
                  class="archive-article-title"
                  href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                  >Publication2</a
                >
              </h2>
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="blog-item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                incidunt rerum aliquid ipsum temporibus numquam dolore similique
                id modi, explicabo aperiam deleniti inventore velit soluta
                perspiciatis laudantium vel quisquam laboriosam. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Dicta possimus
                odio aspernatur quae. Eius obcaecati quibusdam voluptatibus
                iusto? Autem aperiam numquam laboriosam quidem suscipit deleniti
                animi incidunt adipisci itaque. Necessitatibus! Lorem ipsum
                dolor, sit amet consectetur adipisicing elit.
                <p></p>
                link:
                <a href="https://lorem-example.link.com"
                  >https://lorem-example.link.com</a
                >
              </div>
            </div>
          </div>
        </div>
        <hr class="blog-post-sep" />
        <div class="row">
          <div class="col-xs-12">
            <div class="col-md-4 col-sm-4">
              <h2 itemprop="name">
                <a
                  class="archive-article-title"
                  href="/2020/10/28/2015-04-08-NAV-Programming-Resources/"
                  >Publication3</a
                >
              </h2>
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="blog-item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                incidunt rerum aliquid ipsum temporibus numquam dolore similique
                id modi, explicabo aperiam deleniti inventore velit soluta
                perspiciatis laudantium vel quisquam laboriosam. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Dicta possimus
                odio aspernatur quae. Eius obcaecati quibusdam voluptatibus
                iusto? Autem aperiam numquam laboriosam quidem suscipit deleniti
                animi incidunt adipisci itaque. Necessitatibus! Lorem ipsum
                dolor, sit amet consectetur adipisicing elit.
                <p></p>
                link:
                <a href="https://lorem-example.link.com"
                  >https://lorem-example.link.com</a
                >
              </div>
            </div>
          </div>
        </div>
        <hr class="blog-post-sep" />
      </div>
      <!-- 
    <div id="page-nav" class="pagination">
  <span class="page-number current">1</span>
    </div>
   -->
    </section>
  </div>
  <div class="col-md-3 col-sm-3 blog-sidebar">
    <!-- CATEGORIES START -->
    <h2 class="no-top-space">类别</h2>

    <div class="widget-wrap">
      <div class="widget">
        <ul class="nav sidebar-categories margin-bottom-40">
          <li>
            <a href="/categories/XXXX/"
              >医学人工智能与信号处理呼吸、心电、 图像</a
            >
          </li>

          <li>
            <a href="/categories/Humor/">手术规划与导航GyroGuideLITT</a>
          </li>

          <li>
            <a href="/categories/Reasearch/"
              >生理系统建模与仿真微循环、心肺交互、 胚胎</a
            >
          </li>
          <li>
            <a href="/categories/Reasearch/">基于人工智能的商品图像识别</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- CATEGORIES END -->
  </div>
</div>
