---
title: 曹平
date: 2015-11-16 22:59:54
layout: page
---

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <!-- BEGIN CONTACT INTRODUCE -->
        <div class="margin-bottom-30">
          <div class="front-team">
            <ul class="list-unstyled">
              <div class="col-md-3">
                <div class="thumbnail">
                  <img src=
                  "http://img.luckycloudlab.cn/img/Group/Teachers/cp/cp_c.jpg" 
                  />
                  <h3>
                    <strong>曹&ensp;平</strong>
                    <small>教授</small>
                  </h3>
                  <p> 
                    工作部门: 信息工程学院<br />
                    最高学位: 硕士<br />
                    民&ensp;&ensp;&ensp;&ensp;族: 汉族<br />
                    籍&ensp;&ensp;&ensp;&ensp;贯: 浙江绍兴
                  </p>
                  <p>
                    Email: <small>pcao@zjut.edu.cn</small> <br />
                    电&ensp;话: <small>0571-</small>
                  </p>
                </div>
              </div>
  
              <div class="col-md-9">
  
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <h3><b>简&ensp;&ensp;&ensp;&ensp;历</b></h3>
                    <div class="blog-item">
                      1986.09-1991.07&ensp;&ensp;&ensp;&ensp;浙江大学&ensp;&ensp;生物医学工程专业&ensp;&ensp;工学学士 <br />
                      1999.09-2004.03&ensp;&ensp;&ensp;&ensp;浙江大学&ensp;&ensp;计算机科学与技术&ensp;&ensp;工学硕士 <br />
                      2007.10-2008.08&ensp;&ensp;&ensp;&ensp;美国凯斯西储大学医学院&ensp;&ensp;访问学者 <br />
                      2008.09-2009.02&ensp;&ensp;&ensp;&ensp;美国耶鲁大学医学院&ensp;&ensp;访问学者 <br />
                      2005.01-2008.07&ensp;&ensp;&ensp;&ensp;浙江工业大学之江学院&ensp;&ensp;讲师 <br />
                      2008.09-2020.12&ensp;&ensp;&ensp;&ensp;浙江工业大学之江学院&ensp;&ensp;副教授 <br />
                      2021.01-至今 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;浙江工业大学之江学院&ensp;&ensp;教授 
                    </div>
                  </div>
                </div>
  
                <hr class="blog-post-sep" />
                <div class="row">
                  <div class="col-md-9 col-sm-9">
                    <h3 itemprop="name"><b>研究方向</b></h3>
                    <div class="blog-item">
                        医学图像处理、人工智能、神经网络、机器学习
                    </div>
                  </div>
                </div>
              
                <hr class="blog-post-sep" />
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <h3><b>研究项目</b></h3>
                    <div class="blog-item">
                      1.	医学人工智能技术与系统研发--面向医疗的人工智能创新平台（2020C03073）浙江省2020年度重点研发计划 2020-2022 72万 主要参与 <br />
                      2.	面向基层医院的神经外科手术导航系统研制（2015C33193）浙江省科技厅公益类项目 2015-2017 10万 主持 <br />
                      3.	可编程智能视觉传感器开发平台的研究（2012R10011-10）浙江省科技厅创新团队项目	2011-2014 10万 主持 <br />
                      4.	多模态医学影像分析处理平台的引进及再创新研究（2012C24026）浙江省国际科技合作项目 2012 -2014 20万 主要参与 <br />
                      5.	基于移动互联网的实时公共交通信息服务系统（2012C21026）浙江省科技厅公益类项目 2012-2012 15万 主要参与 
                    </div>
                  </div>
                </div>
  
                <hr class="blog-post-sep" />
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <h3><b>荣誉获奖</b></h3>
                    <div class="blog-item">
                        2011年第六届全国信息技术应用水平大赛最佳指导老师<br />
                        2012-2013学年 浙江工业大学教学质量优秀奖<br />
                        2016年度 浙江工业大学优秀教师
                    </div>
                  </div>
                </div>
  
                <hr class="blog-post-sep" />
  
                <!-- fix-me: dirty style start -->
                <a href="../about/" style="margin-top: 10px;">返&ensp;&ensp;回</a>
                <!-- fix-me: dirty style end -->
  
              </div>  
              
            </ul>
          </div>
        </div>
      </div>
      <!-- END CONTACT INTRODUCE -->
    </div>
  </div>
  