---
title: 团队
date: 2015-11-17 01:00:51
layout: page
---

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <!-- BEGIN CONTACT INTRODUCE -->
      <div class="margin-bottom-30">
        <div class="front-team">
          <ul class="list-unstyled">

            <li class="col-md-3">
              <div class="thumbnail">
                <img src="http://img.luckycloudlab.cn/img/Group/Teachers/flp/pic_c.jpg" />
                <h3>
                  <a href="../about/fang-lu-ping" style="font-weight: bold; color: #64AED9;">方路平</a>
                  <small>教授</small>
                </h3>
                <p>
                  Email:
                  <a href="">flp@zjut.edu.cn</a>
                </p>
              </div>
            </li>

            <li class="col-md-3">
              <div class="thumbnail">
                <img src="http://img.luckycloudlab.cn/img/Group/Teachers/pq/pq_.75_c.jpg" />
                <h3>
                  <a href="../about/pan-qing" style="font-weight: bold; color: #64AED9;">潘&ensp;清</a>
                  <small>副教授</small>
                </h3>
                <p>
                  Email:
                  <a href="">pqpq@zjut.edu.cn</a>
                </p>
              </div>
            </li>

            <li class="col-md-3">
              <div class="thumbnail">
                <img src="http://img.luckycloudlab.cn/img/Group/Teachers/cp/cp_c.jpg" />
                <h3>
                  <a href="../about/cao-ping" style="font-weight: bold; color: #64AED9;">曹&ensp;平</a>
                  <small>教授</small>
                </h3>
                <p>
                  Email:
                  <a href="">pcao@zjut.edu.cn</a>
                </p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="thumbnail">
                <img src="http://img.luckycloudlab.cn/img/Group/Teachers/lf/pic.jpg" />
                <h3>
                  <a href="../about/lu-fei" style="font-weight: bold; color: #64AED9;">陆&ensp;飞</a>
                  <small>助理研究员</small>
                </h3>
                <p>
                  Email:
                  <a href="">luf@zjut.edu.cn</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END CONTACT INTRODUCE -->

    <h1>博士</h1>
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <div class="row front-team">
          <ul class="list-unstyled">
            <li class="col-md-6" style="min-height: 300px">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-4 thumbnail">
                  <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018zhanglingwei/pic_c.jpg" />
                </div>
                <div class="col-md-8">
                  <strong>章灵伟</strong>
                  <p></p>
                  <p>
                    浙江温岭<br />
                    博士研究生<br />
                    研究方向: 基于深度学习的机械通气波形分析研究<br />
                    代表论文: Detection of patient-ventilator asynchrony from mechanical ventilation waveforms using a
                    two-layer long short-term memory neural network. <br />
                  </p>
                  <p>Email: zhanglingwei_mail@163.com</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <h1>硕士</h1>
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <!-- BEGIN CONTACT INTRODUCE -->
        <div class="row margin-bottom-30">
          <div class="row front-team">
            <ul class="list-unstyled">
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3gongqiang/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>龚强</strong>
                    <p></p>
                    <p>
                      江西抚州 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向：机械通气波形的智能分析 <br />
                      计算机应用与软件.<br />
                    </p>
                    <p>Email: gchiang0322@gmail.com/1028523005@qq.com</p>
                  </div>
                </div>
              </li>-->
              <!-- <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in/3lixinyi/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>李心怡</strong>
                    <p></p>
                    <p>
                      浙江舟山 <br />
                      硕士研究生（2018.9-2021.6） <br />
                      研究方向: 心电信号智能分析, <br />
                      智能商品陈列审核 <br />
                    </p>
                    <p>Email: qqzslxy@163.com</p>
                  </div>
                </div>
              </li> -->
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3luyunfei/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>陆云飞</strong>
                    <p></p>
                    <p>
                      浙江嘉兴 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向: 机械通气波形的智能分析 <br />
                    </p>
                    <p>Email: phy0208@foxmail.com</p>
                  </div>
                </div>
              </li>-->
              <!-- <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in/3lvxueqian/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>吕雪倩</strong>
                    <p></p>
                    <p>
                      江苏徐州<br />
                      硕士研究生（2018.9-2021.6）<br />
                      研究方向: 胚胎发育模式研究 <br />
                    </p>
                    <p>Email: lvxueqian@zjut.edu.cn</p>
                  </div>
                </div>
              </li> -->
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3liuxue/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>刘学</strong>
                    <p></p>
                    <p>
                      安徽蚌埠 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向: 基于人体关键点的手语识别研究<br />
                    </p>
                    <p>Email: 1948464679@qq.com</p>
                  </div>
                </div>
              </li>-->
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3yebailu/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>叶白璐</strong>
                    <p></p>
                    <p>
                      温州乐清 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      江西南昌人<br />
                      研究方向: 心肺交互模型 <br />
                    </p>
                    <p>Email: yebailu123@163.com</p>
                  </div>
                </div>
              </li>-->
              <!-- <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in/3zhanglingwei/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>章灵伟</strong>
                    <p></p>
                    <p>
                      浙江温岭<br />
                      硕士研究生（2018.9-2021.6）<br />
                      研究方向: 基于深度学习的机械通气波形分析研究<br />
                    </p>
                    <p>Email: zhanglingwei_mail@163.com</p>
                  </div>
                </div>
              </li> -->
              <!-- <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/3/jiamengzhe/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>贾孟哲</strong>
                    <p></p>
                    <p>
                      湖南 <br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 医学人工智能与信号处理中的 <br />
                      机械通气波形的智能分析 <br />
                    </p>
                    <p>Email: 2111903025@zju.edu.</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/3/panjie/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>潘杰</strong>
                    <p></p>
                    <p>
                      安徽亳州<br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 医学人工智能与信号处理：<br />
                      机械通气波形的智能分析<br />
                    </p>
                    <p>Email: 1148170090@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/3/laibiyun/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>赖碧云</strong>
                    <p></p>
                    <p>
                      江西南昌 <br />
                      1997年11月 <br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 模拟血管网络生长发育 <br />
                      兴趣爱好: 动漫，游戏，漫画等二次元文化 <br />
                    </p>
                    <p>Email: 864529139@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/3/zhouyuhan/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>周宇涵</strong>
                    <p></p>
                    <p>
                      浙江宁波<br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 重症大数据智能分析<br />
                    </p>
                    <p>Email: 1095303450@qq.com</p>
                  </div>
                </div>
              </li> -->
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/fengweida/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>冯伟达</strong>
                    <p></p>
                    <p>
                      河南焦作<br />
                      1998年2月<br />
                      硕士研究生（2020.10-2023.06）<br />
                      研究方向: 生理系统建模与仿真-心肺交互模型<br />
                      兴趣爱好: 乒乓球，羽毛球<br />
                    </p>
                    <p>Email: 347543418@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/huangpeiming/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>黄沛明</strong>
                    <p></p>
                    <p>
                      浙江杭州 <br />
                      1997年12月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      研究方向: LITT手术规划与导航系统 <br />
                      兴趣爱好: 平时喜欢打打篮球，听听音乐，<br />
                      闲暇时打打游戏 <br />
                    </p>
                    <p>Email: 952010048@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/jilei/pic_c_.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>季磊</strong>
                    <p></p>
                    <p>
                      安徽宣城 <br />
                      1996年9月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好：体育、音乐<br />
                    </p>
                    <p>Email: 506061902@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/qianyilin/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>钱奕霖</strong>
                    <p></p>
                    <p>
                      江苏南通 <br />
                      1997年8月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 喜欢体育，电影和音乐<br />
                    </p>
                    <p>Email: 2112003313@zjut.edu.cn</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/wangchenyu/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>王晨钰</strong>
                    <p></p>
                    <p>
                      浙江台州 <br />
                      1998年1月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 喜欢旅游，游戏，篮球等活动 <br />
                    </p>
                    <p>Email: 571432163@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/2/zengbobo/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>曾波波</strong>
                    <p></p>
                    <p>
                      江西南昌 <br />
                      1998年3月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 感兴趣的业余活动主要有足球，羽毛球，台球
                      闲暇时间喜欢读读散文小说，游戏技术也还行
                      在家喜欢下厨，勉强也还能吃
                    </p>
                    <p>Email: 2216086319@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/gulifeng/pic_b.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>顾立锋</strong>
                    <p></p>
                    <p>
                      浙江宁波 <br />
                      1998年4月 <br />
                      硕士研究生（2021.9-2024.06） <br />
                      兴趣爱好: 动漫，游戏，小说漫画等ACG文化 <br />
                    </p>
                    <p>Email: 1312847227@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/jiangmengting/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>蒋梦婷</strong>
                    <p></p>
                    <p>
                      浙江杭州 <br />
                      硕士研究生（2021.9-2024.6） <br />
                      兴趣爱好:电影、看小说 <br />
                    </p>
                    <p>Email:841359799@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/libingxing/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>李冰星</strong>
                    <p></p>
                    <p>
                      河北张家口 <br />
                      硕士研究生（2021.9-2024.6） <br />
                      研究方向: <br />
                    </p>
                    <p>Email:lbx_0028@163.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/shenhuanghui/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>沈黄荟</strong>
                    <p></p>
                    <p>
                      湖南株洲 <br />
                      1999年4月 <br />
                      硕士研究生（2021.9-2024.6） <br />
                      研究方向：模拟血管网络生长发育 <br />
                      兴趣爱好：动漫、漫画、画画、看各种小说、打羽毛球 <br />
                    </p>
                    <p>Email:1173982562@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/wangshuo/pic_c_.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>王硕</strong>
                    <p></p>
                    <p>
                      河南漯河 <br />
                      2000年1月 <br />
                      硕士研究生（2021.9-2024.06） <br />
                      兴趣爱好：旅游，游戏，电影，音乐 <br />
                    </p>
                    <p>Email：1664283550@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/zhuangcanwei/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>庄灿伟</strong>
                    <p></p>
                    <p>
                      福建漳州 <br />
                      1998年7月 <br />
                      硕士研究生（2021.9-2024.06） <br />
                      研究方向：OCR、目标检测 <br />
                      兴趣爱好：篮球、游泳、健身、游戏、漫画、桌游 <br />
                    </p>
                    <p>Email：zhuangcanwei5@163.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="http://img.luckycloudlab.cn/img/Group/students/in_c/1/zhujintao/pic_c.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>朱锦涛</strong>
                    <p></p>
                    <p>
                      浙江金华 <br />
                      1999年2月 <br />
                      硕士研究生（2021.9-2024.06） <br />
                      兴趣爱好：游戏，象棋，乒乓球 <br />
                    </p>
                    <p>Email：873616979@qq.com</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <h1>已毕业</h1>
        <div class="col-md-12 col-sm-12">
          <div class="content-page">
            <!-- BEGIN CONTACT INTRODUCE -->
            <div class="row margin-bottom-30">
              <div class="row front-team">
                <ul class="list-unstyled">
                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2019jiamengzhe/pic_c.jpg" />
                      <strong>贾孟哲</strong>
                      <p>
                        2019级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2019panjie/pic_c.jpg" />
                      <strong>潘杰</strong>
                      <p>
                        2019级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2019laibiyun/pic_c.jpg" />
                      <strong>赖碧云</strong>
                      <p>
                        2019级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2019zhouyuhan/pic_c.jpg" />
                      <strong>周宇涵</strong>
                      <p>
                        2019级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018lixinyi/pic_c.jpg" />
                      <strong>李心怡</strong>
                      <p>
                        2018级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018lvxueqian/pic_c.jpg" />
                      <strong>吕雪倩</strong>
                      <p>
                        2018级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <!-- <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018zhanglingwei/pic_c.jpg" />
                      <strong>章灵伟</strong>
                      <p>
                        2018级
                        信息与通信工程
                      </p>
                    </div>
                  </li> -->

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018gongqiang/pic_c.jpg" />
                      <strong>龚强</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018luyunfei/pic_c.jpg" />
                      <strong>陆云飞</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018liuxue/pic_c.jpg" />
                      <strong>刘学</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2018yebailu/pic_c.jpg" />
                      <strong>叶白璐</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2017wangzhenjie/pic.jpg" />
                      <strong>汪振杰</strong>
                      <p>
                        2017级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2017shengqiuyang/pic.jpg" />
                      <strong>盛邱煬</strong>
                      <p>
                        2017级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2017jiangakang/pic.jpg" />
                      <strong>蒋阿康</strong>
                      <p>
                        2017级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016gaokun/pic.jpg" />
                      <strong>高坤</strong>
                      <p>
                        2016级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016hehangjiang/pic.jpg" />
                      <strong>何杭江</strong>
                      <p>
                        2016级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016maokedong/pic.jpg" />
                      <strong>毛科栋</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016linweiyu/pic.jpg" />
                      <strong>林珏伟</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016mashu/pic.jpg" />
                      <strong>马树</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016yaojialiang/pic.jpg" />
                      <strong>姚家良</strong>
                      <p>
                        2016级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2016zhaoshenjia/pic.jpg" />
                      <strong>赵沈佳</strong>
                      <p>
                        2016级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2015gaochenglong/pic.jpg" />
                      <strong>高成龙</strong>
                      <p>
                        2015级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2015lvsijia/pic.jpg" />
                      <strong>吕斯佳</strong>
                      <p>
                        2015级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2014daixiuting/pic.jpg" />
                      <strong>戴秀挺</strong>
                      <p>
                        2014级
                        计算机技术
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2014xuxianming/pic.jpg" />
                      <strong>徐仙明</strong>
                      <p>
                        2014级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2014zhangyileng/pic.jpg" />
                      <strong>张逸冷</strong>
                      <p>
                        2014级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2014zhougongzhan/pic.jpg" />
                      <strong>周功沾</strong>
                      <p>
                        2014级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2011gaoyuhong/pic.jpg" />
                      <strong>高煜红</strong>
                      <p>
                        2011级
                        通信与信息系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2011wanzhengjie/pic.jpg" />
                      <strong>万铮结</strong>
                      <p>
                        2011级
                        通信与信息系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2011huangxiaoli/pic.jpg" />
                      <strong>黄晓立</strong>
                      <p>
                        2011级<br />
                        模式识别与智能系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2011chenruifeng/pic.jpg" />
                      <strong>陈锐锋</strong>
                      <p>
                        2011级<br />
                        模式识别与智能系统
                      </p>
                    </div>
                  </li>



                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2006fuxiaojie/pic.jpg" />
                      <strong>傅晓婕</strong>
                      <p>
                        2006级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2005chenpan/pic.jpg" />
                      <strong>陈盼</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2005chenxiaole/pic.jpg" />
                      <strong>陈小乐</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="http://img.luckycloudlab.cn/img/Group/students/off/2005liushihua/pic.jpg" />
                      <strong>刘世华</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- END CONTENT -->
          </div>
          <!-- END SIDEBAR & CONTENT -->
        </div>
      </div>
    </div>
  </div>
</div>