---
title: Staff
date: 2015-11-17 01:00:51
layout: page
---

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <!-- BEGIN CONTACT INTRODUCE -->
      <div class="row margin-bottom-30">
        <div class="row front-team">
          <ul class="list-unstyled">
            <li class="col-md-3">
              <div class="thumbnail">
                <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                <h3>
                  <strong>Lina Doe</strong>
                  <small>Chief Executive Officer / CEO</small>
                </h3>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, justo sit amet risus etiam porta sem...
                </p>
                <p>
                  Email:
                  <a href="example_email@example.com"
                    >example_email@example.com</a
                  >
                </p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="thumbnail">
                <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                <h3>
                  <strong>Carles Puyol</strong>
                  <small>Chief Executive Officer / CEO</small>
                </h3>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, justo sit amet risus etiam porta sem...
                </p>
                <p>
                  Email:
                  <a href="example_email@example.com"
                    >example_email@example.com</a
                  >
                </p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="thumbnail">
                <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                <h3>
                  <strong>Andres Iniesta</strong>
                  <small>Chief Executive Officer / CEO</small>
                </h3>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, justo sit amet risus etiam porta sem...
                </p>
                <p>
                  Email:
                  <a href="example_email@example.com"
                    >example_email@example.com</a
                  >
                </p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="thumbnail">
                <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                <h3>
                  <strong>Jessica Alba</strong>
                  <small>Chief Executive Officer / CEO</small>
                </h3>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, justo sit amet risus etiam porta sem...
                </p>
                <p>
                  Email:
                  <a href="example_email@example.com"
                    >example_email@example.com</a
                  >
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END CONTACT INTRODUCE -->

    <h1>Master</h1>
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <!-- BEGIN CONTACT INTRODUCE -->
        <div class="row margin-bottom-30">
          <div class="row front-team">
            <ul class="list-unstyled">
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Lina Doe</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Carles Puyol</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Andres Iniesta</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Jessica Alba</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Lina Doe</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Carles Puyol</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Andres Iniesta</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Jessica Alba</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Lina Doe</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Carles Puyol</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Andres Iniesta</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Jessica Alba</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Lina Doe</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Carles Puyol</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Andres Iniesta</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Jessica Alba</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Lina Doe</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Carles Puyol</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Andres Iniesta</strong>
                </div>
              </li>
              <li class="col-md-2">
                <div class="thumbnail">
                  <img src="../metronic/assets/pages/img/people/Profile.jpg" />
                  <strong>Jessica Alba</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
</div>
