---
title: 团队
date: 2015-11-17 01:00:51
layout: page
---

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <!-- BEGIN CONTACT INTRODUCE -->
      <div class="margin-bottom-30">
        <div class="front-team">
          <ul class="list-unstyled">
            <!--<div class="col-md-3">
              <div class="thumbnail">
                <img src="../img/9panqin/pic_c.jpg" />
                
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <h3>
                  <strong>潘&ensp;清</strong>
                  <small>副教授</small>
                </h3>
                <p> 
                  工作部门: 信息工程学院<br />
                  最高学位: 博士<br />
                  民&ensp;&ensp;&ensp;&ensp;族: 汉族<br />
                  籍&ensp;&ensp;&ensp;&ensp;贯: 山东商河
                </p>
                <p>
                  Email: <small>pqpq@zjut.edu.cn</small> <br />
                  电&ensp;话: <small>0571-85290595</small>
                </p>
                <div class="col-md12 col-sm-12">
                  <div class="col-md-1 col-sm-1">
                  </div>
                  <div class="col-md-11 col-sm-11">
                    <div class="blog-item">
                      2003.09-2008.06&ensp;&ensp;&ensp;&ensp;浙江大学&ensp;&ensp;生物医学工程专业&ensp;&ensp;学士学位 <br />
                      2008.08-2013.08&ensp;&ensp;&ensp;&ensp;浙江大学&ensp;&ensp;生物医学工程展业&ensp;&ensp;博士学位 <br />
                      2012.01-2012.07&ensp;&ensp;&ensp;&ensp;德国柏林洪堡大学Charite医学中心&ensp;&ensp;访问 <br />
                      2013.09-2017.12&ensp;&ensp;&ensp;&ensp;浙江工业大学&ensp;&ensp;信息工程学院&ensp;&ensp;讲师 <br />
                      2016.08-2017.08&ensp;&ensp;&ensp;&ensp;德国柏林洪堡大学Charite医学中心&ensp;&ensp;博士后 <br />
                      2018.01-至今 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;浙江工业大学&ensp;&ensp;信息工程学院&ensp;&ensp;副教授  
                    </div>
                  </div>
                </div>-->
                <!-- fix-me: dirty style start -->
                <!--<a href="../about/pan-qing" style="margin-top: 10px;"><br />查看详细介绍</a>-->
                <!-- fix-me: dirty style end -->
              <!--</div>
              <hr class="blog-post-sep" />
            </div>
            </div>-->

            <li class="col-md-3">
              <div class="thumbnail">
                <img src=
                "http://img.luckycloudlab.cn/img/Group/Teachers/flp/pic_c.jpg" 
                />
                <h3>
                  <a href="../about/fangf-lu-ping" style="font-weight: bold; color: #64AED9;">方路平</a>                
                  <small>教授</small>
                </h3>
                <p>
                  Email:
                  <a href=""
                    >flp@zjut.edu.cn</a
                  >
                </p>
              </div>
            </li>

            <li class="col-md-3">
              <div class="thumbnail">
                <img src=
                "http://img.luckycloudlab.cn/img/Group/Teachers/pq/pq_.75_c.jpg" 
                />
                <h3>
                  <a href="../about/pan-qing" style="font-weight: bold; color: #64AED9;">潘&ensp;清</a>                
                  <small>副教授</small>
                </h3>
                <p>
                  Email:
                  <a href=""
                    >pqpq@zjut.edu.cn</a
                  >
                </p>
              </div>
            </li>
            
            <li class="col-md-3">
              <div class="thumbnail">
                <img src=
                "http://img.luckycloudlab.cn/img/Group/Teachers/cp/cp_c.jpg" 
                />
                <h3>
                  <a href="../about/cao-ping" style="font-weight: bold; color: #64AED9;">曹&ensp;平</a>
                  <small>教授</small>
                </h3>
                <p>
                  Email:
                  <a href=""
                    >pcao@zjut.edu.cn</a
                  >
                </p>
              </div>
            </li>
            <li class="col-md-3">
              <div class="thumbnail">
                <img src=
                "http://img.luckycloudlab.cn/img/Group/Teachers/tmp/profile.jpg" 
                />
                <h3>
                  <strong>陆&ensp;飞</strong>
                  <small>助理研究员</small>
                </h3>
                <p>
                  Email:
                  <a href=""
                    >luf@zjut.edu.cn</a
                  >
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END CONTACT INTRODUCE -->

    <h1>硕士</h1>
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <!-- BEGIN CONTACT INTRODUCE -->
        <div class="row margin-bottom-30">
          <div class="row front-team">
            <ul class="list-unstyled">
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3gongqiang/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>龚强</strong>
                    <p></p>
                    <p>
                      江西抚州 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向：机械通气波形的智能分析 <br />
                      计算机应用与软件.<br />
                    </p>
                    <p>Email: gchiang0322@gmail.com/1028523005@qq.com</p>
                  </div>
                </div>
              </li>-->
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/3lixinyi/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>李心怡</strong>
                    <p></p>
                    <p>
                      浙江舟山 <br />
                      硕士研究生（2018.9-2021.6） <br />
                      研究方向: 心电信号智能分析, <br />
                      智能商品陈列审核 <br />
                    </p>
                    <p>Email: qqzslxy@163.com</p>
                  </div>
                </div>
              </li>
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3luyunfei/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>陆云飞</strong>
                    <p></p>
                    <p>
                      浙江嘉兴 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向: 机械通气波形的智能分析 <br />
                    </p>
                    <p>Email: phy0208@foxmail.com</p>
                  </div>
                </div>
              </li>-->
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/3lvxueqian/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>吕雪倩</strong>
                    <p></p>
                    <p>
                      江苏徐州<br />
                      硕士研究生（2018.9-2021.6）<br />
                      研究方向: 胚胎发育模式研究 <br />
                    </p>
                    <p>Email: lvxueqian@zjut.edu.cn</p>
                  </div>
                </div>
              </li>
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3liuxue/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>刘学</strong>
                    <p></p>
                    <p>
                      安徽蚌埠 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      研究方向: 基于人体关键点的手语识别研究<br />
                    </p>
                    <p>Email: 1948464679@qq.com</p>
                  </div>
                </div>
              </li>-->
              <!--<li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src="../img/3yebailu/pic.jpg" />
                  </div>
                  <div class="col-md-8">
                    <strong>叶白璐</strong>
                    <p></p>
                    <p>
                      温州乐清 <br />
                      硕士研究生（2018.9-2021.1）<br />
                      江西南昌人<br />
                      研究方向: 心肺交互模型 <br />
                    </p>
                    <p>Email: yebailu123@163.com</p>
                  </div>
                </div>
              </li>-->
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/3zhanglingwei/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>章灵伟</strong>
                    <p></p>
                    <p>
                      浙江温岭<br />
                      硕士研究生（2018.9-2021.6）<br />
                      研究方向: 基于深度学习的机械通气波形分析研究<br />
                    </p>
                    <p>Email: zhanglingwei_mail@163.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/2jiamengzhe/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>贾孟哲</strong>
                    <p></p>
                    <p>
                      湖南 <br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 医学人工智能与信号处理中的 <br />
                      机械通气波形的智能分析 <br />
                    </p>
                    <p>Email: 2111903025@zju.edu.</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/2laibiyun/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>赖碧云</strong>
                    <p></p>
                    <p>
                      江西南昌 <br />
                      1997年11月 <br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 模拟血管网络生长发育 <br />
                      兴趣爱好: 动漫，游戏，漫画等二次元文化 <br />
                    </p>
                    <p>Email: 864529139@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/2panjie/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>潘杰</strong>
                    <p></p>
                    <p>
                      安徽亳州<br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 医学人工智能与信号处理：<br />
                      机械通气波形的智能分析<br />
                    </p>
                    <p>Email: 1148170090@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/2zhouyuhan/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>周宇涵</strong>
                    <p></p>
                    <p>
                      浙江宁波<br />
                      硕士研究生（2019.9-2022.6）<br />
                      研究方向: 重症大数据智能分析<br />
                    </p>
                    <p>Email: 1095303450@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1fengweida/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>冯伟达</strong>
                    <p></p>
                    <p>
                      河南焦作<br />
                      1998年2月<br />
                      硕士研究生（2020.10-2023.06）<br />
                      研究方向: 生理系统建模与仿真-心肺交互模型<br />
                      兴趣爱好: 乒乓球，羽毛球<br />
                    </p>
                    <p>Email: 347543418@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1huangpeiming/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>黄沛明</strong>
                    <p></p>
                    <p>
                      浙江杭州 <br />
                      1997年12月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      研究方向: LITT手术规划与导航系统 <br />
                      兴趣爱好: 平时喜欢打打篮球，听听音乐，<br />
                      闲暇时打打游戏 <br />
                    </p>
                    <p>Email: 952010048@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1jilei/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>季磊</strong>
                    <p></p>
                    <p>
                      安徽宣城 <br />
                      1996年9月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好：体育、音乐<br />
                    </p>
                    <p>Email: 506061902@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1qianyilin/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>钱奕霖</strong>
                    <p></p>
                    <p>
                      江苏南通 <br />
                      1997年8月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 喜欢体育，电影和音乐<br />
                    </p>
                    <p>Email: 2112003313@zjut.edu.cn</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1wangchenyu/pic.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>王晨钰</strong>
                    <p></p>
                    <p>
                      浙江台州 <br />
                      1998年1月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 喜欢旅游，游戏，篮球等活动 <br />
                    </p>
                    <p>Email: 571432163@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/1zengbobo/pic_c.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>曾波波</strong>
                    <p></p>
                    <p>
                      江西南昌 <br />
                      1998年3月 <br />
                      硕士研究生（2020.10-2023.06）<br />
                      兴趣爱好: 感兴趣的业余活动主要有足球，羽毛球，台球
                      闲暇时间喜欢读读散文小说，游戏技术也还行 
                      在家喜欢下厨，勉强也还能吃 
                    </p>
                    <p>Email: 2216086319@qq.com</p>
                  </div>
                </div>
              </li>
              <li class="col-md-6" style="min-height: 300px">
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 thumbnail">
                    <img src=
                    "http://img.luckycloudlab.cn/img/Group/students/in/0gulifeng/pic_b.jpg" 
                    />
                  </div>
                  <div class="col-md-8">
                    <strong>顾立锋</strong>
                    <p></p>
                    <p>
                      浙江宁波 <br />
                      1998年4月 <br />
                      本科生大四 <br />
                      兴趣爱好: 动漫，游戏，小说漫画等ACG文化 <br />
                    </p>
                    <p>Email: 1312847227@qq.com</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <h1>已毕业</h1>
        <div class="col-md-12 col-sm-12">
          <div class="content-page">
            <!-- BEGIN CONTACT INTRODUCE -->
            <div class="row margin-bottom-30">
              <div class="row front-team">
                <ul class="list-unstyled">
                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2018gongqiang/pic_c.jpg"
                      />
                      <strong>龚强</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2018luyunfei/pic_c.jpg"
                      />
                      <strong>陆云飞</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2018liuxue/pic.jpg"
                      />
                      <strong>刘学</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2018yebailu/pic_c.jpg"
                      />
                      <strong>叶白璐</strong>
                      <p>
                        2018级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2017wangzhenjie/pic.jpg"
                      />
                      <strong>汪振杰</strong>
                      <p>
                        2017级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2017shengqiuyang/pic.jpg"
                      />
                      <strong>盛邱煬</strong>
                      <p>
                        2017级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2017jiangakang/pic.jpg"
                      />
                      <strong>蒋阿康</strong>
                      <p>
                        2017级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016gaokun/pic.jpg"
                      />
                      <strong>高坤</strong>
                      <p>
                        2016级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016hehangjiang/pic.jpg"
                      />
                      <strong>何杭江</strong>
                      <p>
                        2016级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016maokedong/pic.jpg"
                      />
                      <strong>毛科栋</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016linweiyu/pic.jpg"
                      />
                      <strong>林珏伟</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016mashu/pic.jpg"
                      />
                      <strong>马树</strong>
                      <p>
                        2016级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016yaojialiang/pic.jpg"
                      />
                      <strong>姚家良</strong>
                      <p>
                        2016级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2016zhaoshenjia/pic.jpg"
                      />
                      <strong>赵沈佳</strong>
                      <p>
                        2016级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2015gaochenglong/pic.jpg"
                      />
                      <strong>高成龙</strong>
                      <p>
                        2015级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2015lvsijia/pic.jpg"
                      />
                      <strong>吕斯佳</strong>
                      <p>
                        2015级
                        控制工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2014daixiuting/pic.jpg"
                      />
                      <strong>戴秀挺</strong>
                      <p>
                        2014级
                        计算机技术
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2014xuxianming/pic.jpg"
                      />
                      <strong>徐仙明</strong>
                      <p>
                        2014级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2014zhangyileng/pic.jpg"
                      />
                      <strong>张逸冷</strong>
                      <p>
                        2014级
                        电子与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2014zhougongzhan/pic.jpg"
                      />
                      <strong>周功沾</strong>
                      <p>
                        2014级
                        信息与通信工程
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2011gaoyuhong/pic.jpg"
                      />
                      <strong>高煜红</strong>
                      <p>
                        2011级
                        通信与信息系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2011wanzhengjie/pic.jpg"
                      />
                      <strong>万铮结</strong>
                      <p>
                        2011级
                        通信与信息系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2011huangxiaoli/pic.jpg"
                      />
                      <strong>黄晓立</strong>
                      <p>
                        2011级<br />
                        模式识别与智能系统
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2011chenruifeng/pic.jpg"
                      />
                      <strong>陈锐锋</strong>
                      <p>
                        2011级<br />
                        模式识别与智能系统
                      </p>
                    </div>
                  </li>

                  

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2006fuxiaojie/pic.jpg"
                      />
                      <strong>傅晓婕</strong>
                      <p>
                        2006级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2005chenpan/pic.jpg"
                      />
                      <strong>陈盼</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2005chenxiaole/pic.jpg"
                      />
                      <strong>陈小乐</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img
                        src=
                        "http://img.luckycloudlab.cn/img/Group/students/off/2005liushihua/pic.jpg"
                      />
                      <strong>刘世华</strong>
                      <p>
                        2005级<br />
                        计算机软件与理论
                      </p>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

            <!-- END CONTENT -->
          </div>
          <!-- END SIDEBAR & CONTENT -->
        </div>
      </div>
    </div>
  </div>
</div>
